<header>

    <img src="./assets/icons/foto.png" alt="" width="130px" height="130px" loading="eager" />

    <h1>Ryan Moraes</h1>
</header>

<aside>
    <div class="container">
        <p>Full Stack JavaScript | Angular | NodeJs | NestJs</p>
        <p>Sobradinho - Distrito Federal - Brasil</p>
        <p> Comecei nesta área de desenvolvimento de sofware recentemente, porém
            venho me dedicando intensamente para melhor performa na contrução de web-site
            e outros...
        </p>

        <nav>
            <ul>
                <li>
                    <a href="./assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Dowload Cv</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ryan-moraes-7513ba240/" target="_blank" class="btn btn-secondary">linkEdin</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="./assets/imgs/whatsapp.svg" alt="Icone para contato do ZapZap" width="22px" height="24px">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5561994543439&text=Ol%C3%A1%20Ryan" target="_blank">
                        <Strong>Envie uma mensagem para:</Strong>
                        <p>WhatsApp: (61) 99454-3439</p>
                    </a>

                </figcaption>
            </figure>

            <figure>
                <img src="./assets/imgs/mail.svg" alt="Icone para o E-mail" width="22px" height="24px">

                <figcaption>
                    <a href="mailto:ryanmulekim@gmail.com" target="_blank">
                        <Strong>Envie um e-mail para:</Strong>
                        <p>ryanmulekim&#64;gmail.com</p>
                    </a>

                </figcaption>
            </figure>
            
            
        </section>
    </div>
</aside>